.profile{
  display: flex;
  flex-direction: column;
}

.profile__text{
  height: 150px;
  width: 250px;
  margin-bottom: 10px;
}

.post__title{
  margin-bottom: 10px;
}

.post__item{
  margin-bottom: 10px;
}