.App {
  display: grid;

  grid-template-columns:  2fr 10fr;
  grid-template-rows:  60px 1fr 60px;

  grid-template-areas:
  'h h'
  'n c'
  'f f'
;
  gap: 10px;
  height: 100vh;
}

.header,
.nav,
.content,
.footer{
  width: 100%;
}


.header {
  grid-area: h;
  background-color:  chocolate;
}

.nav {
  grid-area: n;
  background-color:  cornflowerblue;
}

.content {
  grid-area: c;
  background-color:  goldenrod;
  background-image:  url("./Assets/img/premium_photo-1669324357471-e33e71e3f3d8.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  left bottom;
}

.footer {
  grid-area: f;
  background-color:  lawngreen;
}