.App {
  display: grid;
  max-width: 1440px;
  margin: 0 auto;

  grid-template-columns:  2fr 10fr;
  grid-template-rows:  70px 1fr;

  grid-template-areas:
  'header header'
  'aside content'
;
  gap: 15px;

  height: 100svh;
  height: 100vh;
}

.header,
.nav,
.content,
.footer {
  width: 100%;
}

/*.content {*/
/*  grid-area: content;*/
/*}*/

.footer {
  grid-area: footer;
  background-color: lawngreen;
}